
.mainPage{
    padding: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.songList {
    flex: 1 1 auto;
    position: relative;
}