
.songs{
    background-color: var(--main-bc-alternate-color);
    padding: 5px;
    border-radius: 5px;
}

.one-song{
    text-decoration: none;
    list-style: none;

    padding: 2px 7px;
    background-color: var(--main-bc-alternate-color);
    cursor: pointer;
    &:hover{
        opacity: 0.8;
    }
}